<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>
        <b>Abdulkadir Tartilaci</b>
        <br>Visit to <a href="https://www.github.com/KadirTarti"> My Github Page</a>
    </p>
</footer>