<footer>    
 

 <div class="py-1 text-center text-body-secondary bg-body-tertiary border-t border-1 ">
    <p>
        <b>Abdulkadir Tartilaci</b>
        <br>Besuch <a href="https://www.github.com/KadirTarti"> meines Github-Profils</a>
    </p>
</div>
</footer>