<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdulkadir's todo</title>
</head>
<body>
    <h1>TodoApp</h1>
    <%# console.log("EJS work!") %>
    <!-- safe print -->
    <%= '<b>Hello</b>' %>
    
    <br/>
    <!-- direct print -->
    <%- '<b>Hello</b>' %>
    <br/>
    <hr/>
    
    <h2>Welcome <%= name %>'s  <%= title %> </h2>

    <form action="">
<input type="text" name="name"><br/>
<input type="text"  name="title">
<button></button>

    </form>

</body>
</html>