PORT=8000
MONGODB=mongodb://127.0.0.1:27017/projectName
SECRET_KEY=
PAGE_SIZE=25
# MONGODB=mongodb+srv://karamanburak:Karaman.60@karamanburak.ezuo8vh.mongodb.net/personnelAPI

ACCESS_KEY = 
REFRESH_KEY = 

ACCESS_EXP=1d
REFRESH_EXP=1d


