<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        .heading {
          background-color: tomato;
          color: white;
          border: 2px solid black;
          margin: 20px;
          padding: 20px;
          width: 26%;
          text-transform: uppercase;
        }
        </style>
</head>
<body>

    <h2 class="heading"><%= heading %></h2>
    
</body>
</html>